<?xml version="1.0"?>
<config>
    <modules>
        <ShipStream_Sync>
            <version>1.0</version>
        </ShipStream_Sync>
    </modules>
    <global>
        <helpers>
            <shipstream>
                <class>ShipStream_Sync_Helper</class>
            </shipstream>
        </helpers>
        <models>
            <shipstream>
                <class>ShipStream_Sync_Model</class>
            </shipstream>
        </models>
        <resources>
            <shipstream_setup>
                <setup>
                    <module>ShipStream_Sync</module>
                </setup>
            </shipstream_setup>
        </resources>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <shipstream_order_save_after>
                        <class>shipstream/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </shipstream_order_save_after>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <full_inventory_synchronization>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>shipstream/cron::fullInventorySync</model>
                </run>
            </full_inventory_synchronization>
        </jobs>
    </crontab>
    <adminhtml>
        <translate>
            <modules>
                <ShipStream_Sync>
                    <files>
                        <default>ShipStream_Sync.csv</default>
                    </files>
                </ShipStream_Sync>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <shipping>
            <shipstream>
               <realtime_sync>1</realtime_sync>
               <send_shipment_email>1</send_shipment_email>
            </shipstream>
        </shipping>
    </default>
</config>
